/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: center;
}

h1 {
  color: #4CAF50;
  font-size: 28px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.input-section {
  margin-bottom: 1.5rem;
}

select, input, button {
  width: 100%;
  padding: 12px;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
}

select:focus, input:focus, button:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#qrResult canvas {
  margin-top: 2rem;
  border: 5px solid #4CAF50;
  border-radius: 8px;
  padding: 1rem;
}

input[type="tel"] {
  width: calc(100% - 70px);
  display: inline-block;
}

input[type="tel"]:focus {
  border-color: #4CAF50;
}

select#countryCode {
  width: 130px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

input[type="text"]:focus, input[type="url"]:focus {
  border-color: #4CAF50;
}

/* Add this to style the image preview */
#filePreview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 8px;
}

#filePreview p {
  color: #888;
  font-size: 14px;
}


.upload-success-box {
  text-align: center;
  background-color: #f0f9f4;
  border: 2px solid #28a745;
  border-radius: 12px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.upload-preview-img {
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.upload-status-text {
  font-weight: 500;
  color: #28a745;
  font-size: 14px;
}

.upload-success-box {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
